@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "Strait", serif;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
span,
small {
    cursor: default;
}

.textStroke {
    -webkit-text-stroke: 0.04em black;
    paint-order: stroke fill;
}

.container-mask {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.mask {
    position: absolute;
    mask-image: url("/public/mask.svg");
    background: transparent;
    mask-repeat: no-repeat;
    mask-size: 50px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
}

.mask2 {
    position: absolute;
    mask-image: url("/public/mask.svg");
    background: transparent;
    mask-repeat: no-repeat;
    mask-size: 50px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
}

.canvas-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

.canvas {
    width: 100%;
    height: 100%;
}

.sponsor-container {
    display: flex;
    overflow: hidden;
}

.sponsor-items {
    display: flex;
    animation: scrollSponsor 10s linear infinite;
}

@keyframes scrollSponsor {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 768px) {
    .sponsor-container {
        animation: scrollSponsor 15s linear infinite;
    }

    .container-mask {
        display: flex;
        align-items: start;
        justify-content: start;
        width: 100vw;
        height: max-content;
        flex-direction: column;
    }
}

.gr1 {
    position: fixed;
    width: 150%;
    height: 150%;
    top: -20%;
    right: -20%;
    animation: gr1 4s ease-in infinite;
}

@keyframes gr1 {
    0% {
        opacity: 160%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 160%;
    }
}

.gr2 {
    position: fixed;
    width: 150%;
    height: 150%;
    top: -20%;
    right: -20%;
    animation: gr2 4s ease-in infinite;
}

@keyframes gr2 {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 160%;
    }
    100% {
        opacity: 0%;
    }
}

.gr3 {
    position: fixed;
    width: 65%;
    top: 32%;
    opacity: 60%;
    left: -7%;
}

#asteroid1 {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster1 10s ease-in infinite;
    background-color: gold;
    border-radius: 10px;
}

@keyframes aster1 {
    0% {
        top: 0;
        right: 0;
    }
    100% {
        top: 100%;
        right: 200%;
    }
}

#asteroid2 {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster2 10s 4s ease-in infinite;
    background-color: gold;
    border-radius: 11px;
}

@keyframes aster2 {
    0% {
        top: 0%;
        right: 60%;
    }
    100% {
        top: 100%;
        right: 200%;
    }
}

#asteroid3 {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster3 10s 5s ease-in infinite;
    background-color: gold;
    border-radius: 10px;
}

@keyframes aster3 {
    0% {
        top: 0%;
        right: 75%;
    }
    100% {
        top: 100%;
        right: 200%;
    }
}

#asteroid4 {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster4a 10s 1s ease-in infinite;
    background-color: gold;
    border-radius: 10px;
}

@keyframes aster4a {
    0% {
        top: 0%;
        right: 25%;
    }
    100% {
        top: 100%;
        right: 200%;
    }
}

#asteroid5 {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster5a 10s 8s ease-in infinite;
    background-color: gold;
    border-radius: 10px;
}

@keyframes aster5a {
    0% {
        top: 0%;
        right: 15%;
    }
    100% {
        top: 100%;
        right: 200%;
    }
}

#star1 {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 10%;
    right: 20%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star2 {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 10%;
    left: 7%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star1a {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 3%;
    right: 30%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star1b {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 3%;
    right: 30%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star2a {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 6%;
    left: 7%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star2b {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 6%;
    left: 7%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star3 {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 26%;
    right: 40%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star3a {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 42%;
    right: 40%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star3b {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 42%;
    right: 40%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star4 {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 22%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star4a {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 12%;
    left: 36%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star4b {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 12%;
    left: 36%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star5 {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 45%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star5a {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 45%;
    left: 20%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star5b {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 45%;
    left: 20%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star6a {
    position: absolute;
    width: 8px;
    height: 2px;
    bottom: 15%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star6 {
    position: absolute;
    width: 8px;
    height: 2px;
    bottom: 15%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star6b {
    position: absolute;
    width: 8px;
    height: 2px;
    bottom: 15%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star7 {
    position: absolute;
    width: 8px;
    height: 2px;
    bottom: 12%;
    right: 30%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star7a {
    position: absolute;
    width: 8px;
    height: 2px;
    bottom: 12%;
    right: 30%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#star7b {
    position: absolute;
    width: 8px;
    height: 2px;
    bottom: 12%;
    right: 30%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}

#squareDDD {
    animation: aster6 20s ease infinite;
}

@keyframes aster6 {
    0% {
        top: -2%;
    }
    50% {
        top: -1%;
    }
    100% {
        top: -2%;
    }
}

#asteroid1a {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster1a 10s ease-in infinite;
    background-color: gold;
    border-radius: 10px;
}

@keyframes aster1a {
    0% {
        top: -17%;
        right: 0;
    }
    100% {
        top: 200%;
        right: 200%;
    }
}

#asteroid1b {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    left: 0;
    transform: rotate(30deg);
    animation: aster1b 10s 2s ease-in infinite;
    background-color: gold;
    border-radius: 10px;
}

@keyframes aster1b {
    0% {
        top: -17%;
        left: 0;
    }
    100% {
        top: 200%;
        left: 140%;
    }
}

#asteroid1b2 {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    left: 0;
    transform: rotate(30deg);
    animation: aster1b2 9s 1s ease-in infinite;
    background-color: red;
    border-radius: 10px;
}

@keyframes aster1b2 {
    0% {
        top: -17%;
        left: 40%;
    }
    100% {
        top: 200%;
        left: 190%;
    }
}

#asteroid2a {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-35deg);
    animation: aster2a 10s ease-in infinite;
    background-color: green;
    border-radius: 10px;
}

@keyframes aster2a {
    0% {
        top: -17%;
        right: 45%;
    }
    100% {
        top: 200%;
        right: 150%;
    }
}

#asteroid2b {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-35deg);
    animation: aster2b 10s ease-in infinite;
    background-color: gold;
    border-radius: 11px;
}

@keyframes aster2b {
    0% {
        top: -17%;
        right: 45%;
    }
    100% {
        top: 200%;
        right: 150%;
    }
}

#asteroid3a {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster3a 10s 5s ease-in infinite;
    background-color: purple;
    border-radius: 10px;
}

@keyframes aster3a {
    0% {
        top: -17%;
        right: 75%;
    }
    100% {
        top: 200%;
        right: 200%;
    }
}

#asteroid3b {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster3b 10s 5s ease-in infinite;
    background-color: orange;
    border-radius: 10px;
}

@keyframes aster3b {
    0% {
        top: -17%;
        right: 75%;
    }
    100% {
        top: 200%;
        right: 200%;
    }
}

#asteroid4a {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster4a 10s 5s ease-in infinite;
    background-color: rgb(106, 255, 0);
    border-radius: 10px;
}

@keyframes aster4a {
    0% {
        top: -17%;
        right: 25%;
    }
    100% {
        top: 200%;
        right: 200%;
    }
}

#asteroid4b {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster4b 10s 5s ease-in infinite;
    background-color: rgb(7, 226, 255);
    border-radius: 10px;
}

@keyframes aster4b {
    0% {
        top: -17%;
        right: 25%;
    }
    100% {
        top: 200%;
        right: 200%;
    }
}

#asteroid5a {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster5a 10s ease-in infinite;
    background-color: gold;
    border-radius: 10px;
}

@keyframes aster5a {
    0% {
        top: -17%;
        right: -10%;
    }
    100% {
        top: 200%;
        right: 100%;
    }
}

#asteroid5b {
    position: absolute;
    width: 8px;
    height: 2px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster5b 7s ease-in infinite;
    background-color: gold;
    border-radius: 10px;
}

@keyframes aster5b {
    0% {
        top: -17%;
        right: -10%;
    }
    100% {
        top: 200%;
        right: 100%;
    }
}

@media screen and (max-width: 500px) {
    .no-dark-mode {
        --ifm-navbar-background-color: white;
        --ifm-navbar-text-color: black;
    }

    .gr1 {
        position: fixed;
        width: 100%;
        height: 100%;
        top: -10%;
        right: -20%;
        animation: gr1 4s ease-in infinite;
    }

    @keyframes gr1 {
        0% {
            opacity: 100%;
        }
        50% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }

    .gr2 {
        position: fixed;
        width: 100%;
        height: 100%;
        top: -10%;
        right: -20%;
        animation: gr2 4s ease-in infinite;
    }

    @keyframes gr2 {
        0% {
            opacity: 0%;
        }
        50% {
            opacity: 100%;
        }
        100% {
            opacity: 0%;
        }
    }

    .gr3 {
        position: fixed;
        width: 95%;
        top: 55%;
        opacity: 80%;
        left: -12%;
    }
}
